body {font-family: Arial, Helvetica, sans-serif;}
			* {box-sizing: border-box;}

			/* Button used to open the chat form - fixed at the bottom of the page */
			.open-button {
			  background-color: #6495ED;
			  color: white;
			  padding: 16px 20px;
			  border: none;
			  cursor: pointer;
			  opacity: 0.8;
			  position: fixed;
			  bottom: 50px;
			  right: 15px;
			  width: 70px;
			  height: 70px;
			  border-radius: 60%;
			}

			/* The popup chat - hidden by default */
			.chat-popup {
			  display: none;
			  position: fixed;
			  bottom: 0;
			  right: 15px;
			  z-index: 9;
			  margin-bottom: 5px;
			  border-radius: 5px;
			}

			/* Add styles to the form container */
			.form-container {
			  width: 330px;
			  height: 450px;
			  padding: 5px;
			  background-color: #BCC8BE  ;
			  border-radius: 10px;
			}

			/* Set a style for the submit/send button */
			.form-container .btn {
			  background-color: #4CAF50;
			  color: white;
			  padding: 10px 20px;
			  border: none;
			  cursor: pointer;
			  width: 152px;
			  margin-bottom: 10px;
			  opacity: 0.8;
			}

			/* Add a red background color to the cancel button */
			.form-container .cancel {
			  background-color: red;
			}

			/* Add some hover effects to buttons */
			.form-container .btn:hover, .open-button:hover {
			  opacity: 1;
			}

			/* Full-width textarea */
			.form-container input {
			  width: 320px;
			  padding: 15px;
			  border: 3px solid #DCDCDC;
			  background: #f1f1f1;
			  margin-bottom: 5px;
			  resize: none;
			  border-radius: 2px;
			  height: 40px;
			}

			/* When the textarea gets focus, do something */
			.form-container input:focus {
			  background-color: #ddd;
			  outline: none;
			}

			.boxChat{
				background-color: white;
				margin: 5px 0 0 0;
				border: 3px solid #DCDCDC;
				border-radius: 5px;
				height: 308px;
				width: 320px;
				overflow: auto;
			}

			/* style dành cho chat message*/
				.ctn {
				  border: 1px solid #61B3F1;
				  background-color: #f1f1f1;
				  border-radius: 5px;
				  padding: 10px 5px 10px 5px;
				  margin: 5px;
				  width: 80%;
				  word-wrap: break-word;
   				  word-break: break-word;
				}

				.darker {
				  border-color: #61B3F1;
  				  background-color: #C8E1F3;
				  float: right;
				}

				.ctn::after {
				  content: "";
				  clear: both;
				  display: block;
				}

				.ctn img {
				  float: left;
				  max-width: 30px;
				  margin: 5px;
				  width: 30%;
				  border-radius: 50%;
				}

				.ctn img.right {
				  float: right;
				}

				.time-right {
				  float: right;
				  color: #aaa;
				  font-size: 10px;
				}

				.time-left {
				  float: left;
				  color: #999;
				  font-size: 10px;
				}

				/* close*/
				.tag-remove::before {
				  content: 'x'; // here is your X(cross) sign.
				  color: #fff;
				  font-weight: 300;
				  font-family: Arial, sans-serif;
				}

				#mdiv {
				  width: 20px;
				  height: 20px;
				  background-color: red;
				  border: 1px solid white;
				  float: right;
				  border-radius: 4px;
				}

				.mdiv {
				  height: 20px;
				  width: 2px;
				  margin-left: 8px;
				  background-color: white;
				  transform: rotate(45deg);
				  z-index: 1;
				}

				.md {
				  height: 20px;
				  width: 2px;
				  background-color: white;
				  transform: rotate(90deg);
				  z-index: 2;
				}
				/*Status*/
				.status {
				    width: 7px;
				    height: 7px;
				    position: absolute;
				    background: #3dd43d;
				    left: 37px;
				    top: 35px;
				    border-radius: 3.5px;
				}
				/*dotdotdot*/
				.loading:after {
 					 content: ' .';
  					 animation: dots 1s steps(5, end) infinite;
				}

				@keyframes dots {
					0%, 20% {
						content: ' .';
					    color: red;
					    font-size: 30px;
					}
					 40% {
					 	content: ' . .';
					    color: yellow;
					    font-size: 30px;
					}
					60% {
						content: ' . . .';
						color: green;
						font-size: 30px;
					}
					80%, 100% {
						content: ' . .';
						color: yellow;
						font-size: 30px;
					}
				}
